.statisticFlexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.restartBtn {
    border: 2px solid black;
    border-radius: 5px;
    line-height: 40px;
    color: black;
    width: 150px;
    font-weight: 600;
}
