.imageContainer {
    width: 150px;
    height: 150px;
}

.imageContainer img {
    width: inherit;
    padding: 25px;
}

.card {
    border-radius: 10px !important;
    cursor:pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    background-color: white;
}

.matchedCard {
    list-style-type: none;
}
