#navbar {
    height: 60px;
    background-color: black !important;
}

#navbar .navbar-brand {
    color: white;
}

.formTitle {
    color: grey;
    margin-bottom: 0;
    white-space: nowrap;
}

.deckSizeSelect {
    width: 75px !important;
}

#logo {
    height: 50px;
}

#navbar {
    height: auto;
}
