body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.newGameBtn {
  background-color: #ff3000;
  border-color: #ff3000;
  border-radius: 5px;
  line-height: 40px;
  color: white;
  width: 175px;
  font-weight: 600;
}

.greyColor {
  color: grey;
}
